*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.escape{
    position: fixed;
    left: -120px;
    top: 45%;
    z-index: 3;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0 50% 50% 0;
    background-color: rgb(226, 50, 6);
    transition: 0.5s;
}

.esc-long{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left:5px;
    padding:0;
    vertical-align: middle;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.escape-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 50px;
    padding: 25px 7px;
    margin: 0%;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
    height: 100px;
    line-height: 100px;
}

.escape:hover{
    left:-5px;
}

@media (max-width: 800px){
    .escape{
        position: fixed;
        left: -5px;
        top: 45%;
        z-index: 3;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0 50% 50% 0;
        background-color: rgb(226, 50, 6);
        transition: 0.5s;
    }
    
    .esc-long{
        height: 20px;
        line-height: 20px;
        font-size: 20px;
        width:0px;
        overflow-x:hidden;
    }
    
    .escape-btn{
        font-size: 20px;
        height: 20px;
        line-height: 20px;
    }
    
    .escape:hover{
        left:-5px;
    }
}




.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(2, 13, 58, 0.801),rgba(2, 13, 58, 0.801)), url(images/brisbane.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    /*vertical-align: top;*/
}
.nav-links{
    flex: 1;
    text-align: right;
    vertical-align: top;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    vertical-align: top;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(26, 1, 54);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgb(26, 1, 54);
    background: rgb(26, 1, 54);
    transition: 1s;
}

nav .fa{
    display: none;
    
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;


}

.footer p{
    color: rgb(1, 0, 65);
    text-decoration: none;
    font-size: 16px;
}

.footer a{
    color: rgb(1, 0, 65);
    text-decoration: none;
    font-size: 16px;
}

.footer .fa{
    color:rgb(1, 0, 65);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 20px;
}

.acknowledgement {
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
}

@media(max-width: 800px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a:hover{
        color: #818181;
        transition: 0.3s;
        
    }
    .nav-links{
        position: absolute;
        background: rgb(26, 1, 54);
        height: 100vh;
        width: 0;
        top: 0;
        right:0;
        text-align: left;
        z-index: 2;
        overflow-x: hidden;
        transition: 1s;
    }
    /*
    .nav-links{
        position: absolute;
        background: rgb(26, 1, 54);
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }*/
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav .fa-bars{
        position: right;
    }
    .nav-links ul{
        padding: 0;

    }
    nav img{
        width: 80px;
        /*vertical-align: top;*/
    }
}

/*----- howWeHelp -----*/

.howWeHelpBG{
    width: 100%;
    background: rgb(1, 0, 65);
    scroll-behavior: smooth;
}

.howWeHelp{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    
}
h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

p{
    color: rgb(207, 207, 207);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.howWeHelp-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.25s;
}

.howWeHelp-col:hover{
    box-shadow: 0 0 20px 0px rgba(205, 248, 255, 0.781)
}

.howWeHelp-col p{
    color: rgb(36, 36, 36);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.howWeHelp-col .fa{
    color: rgb(0, 72, 226);
    font-size: 40px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
}

@media(max-width: 800px){
    .row{
        flex-direction: column;
    }
}

/*----- contact -----*/
.contact{
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}


.contact-col{
    align-items: center;
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact h1{
    color: black;
}

.contact p{
    color: rgb(58, 58, 58)
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

.submit-contact-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(26, 1, 54);
    border: 1px solid rgb(26, 1, 54);
    font-size: 16px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
}

.submit-contact-btn:hover{
    color: #fff;
    background: rgb(26, 1, 54);
}

/*---------------                           ABOUT US                       ---------------*/

.header-about{
    min-height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(2, 13, 58, 0.801),rgba(2, 13, 58, 0.801)), url(images/about.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.whatWeDoBG{
    width:80%;
}

.whatWeDo-col{
    width: 50%;
    align-items: center;
}

.whatWeDo-col h1{
    color: rgb(78, 78, 78);
    text-align: center;
    font-weight: 300;
}

.whatWeDo-col p{
    color: rgb(78, 78, 78);
    text-align: justify;
    padding-right: 20px;
}

@media(max-width: 800px){
    .whatWeDo-col{
        width: 100%;
        align-items: center;
    }
    .whatWeDo-col p{
        padding: 30px;
    }
    .whatWeDoBG{
        width:100%;
    }
}


/*---------------                           FACT SHEETS                       ---------------*/
.FS-header{
    min-height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(2, 13, 58, 0.801),rgba(2, 13, 58, 0.801)), url(images/directory.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.FS-text-box{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.FS-text-box h1{
    font-size: 30px;
}
.FS-text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}

.FS-bg{
    width: 100%;
    background-color:rgb(1, 0, 65);
    
}

.FS-main{
    width:100%;
    background-color:rgb(1, 0, 65);
}

.FS-content{
    width:100%;
    background-color:rgb(1, 0, 65);
    padding: 0;
    align-self: center;
    margin-bottom: 0;

}

#FS-content .row{
    justify-content: space-evenly;
    margin-top: 0;
    background-color:rgb(1, 0, 65);
}

#FS-main .row{
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 2%;
    background-color:rgb(1, 0, 65);
    
}

.FS-content-col{
    flex-basis: 45%;
    background-color:#fff;
    border-radius: 10px;
    margin-bottom: 0%;
    margin-top: 2%;
    box-sizing: border-box;
    transition: 0.25s;
    padding: 5px 5px;
}

.FS-content-col:hover{
    box-shadow: 0 0 20px 0px rgba(205, 248, 255, 0.781)
}

.FS-content-col p{
    color: rgb(36, 36, 36);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin-top: 0;
    text-align: justify;
}

.FS-fa{
    align-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.FS-fa .fa{
    color: rgb(0, 72, 226);
    font-size: 40px;
    font-weight: 300;
    line-height: 22px;
    padding: 1px;
    text-align: right;
}

.FS-footerHead{
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
}

.FS-sidebar{
    width: 20%;
    align-items:center;
    background-color: rgb(26, 1, 54);
    padding: 0 15px;
}


.FS-logo{
    background-color:white;
    align-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 4%;

    padding: 5px;
}

.FS-sidebar-inner{
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    margin-top: 2%;

}

.FS-logo img{
    align-self: center;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.FS-footer-col{
    flex-basis: 30%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 0%;
    margin-top: 1%;
    box-sizing: border-box;
    transition: 0.25s;
    padding: 5px 5px;
}

.FS-footer-col:hover{
    box-shadow: 0 0 20px 0px rgba(205, 248, 255, 0.781)
}


.FS-footer-col p{
    color: rgb(36, 36, 36);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: justify;
}

.FS-sideContent{
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    box-sizing: border-box;
    transition: 0.25s;
    padding: 12px 12px;
    align-content: center;
}

.FS-sideContent h4{
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.FS-sideContent a{
    color: rgb(36, 36, 36);
    font-size: 16px;
    font-weight: 300;
    padding: 2px;
    text-align: center;
}

.FS-sideContent p{
    color: rgb(36, 36, 36);
    font-size: 16px;
    font-weight: 300;
    padding: 2px;

    text-align: center;
}

.FS-sideContent:hover{
    box-shadow: 0 0 20px 0px rgba(205, 248, 255, 0.781)
}

.FS-sideContent-social {
    color: rgb(36, 36, 36);
    font-size: 30px;
    font-weight: 300;
    padding: 2px;

    text-align: center;
}

.FS-sideContent-social .fa{
    color: rgb(0, 72, 226);
    font-size: 30px;
    font-weight: 300;
    padding: 2px;

    text-align: center;
}

@media(max-width: 800px){
    .FS-text-box h1{
        font-size: 12px;
    }
    .FS-header{
        min-height: 20vh;
    }
    .FS-sidebar{
        width: 100%;
        align-items:center;
        background-color: transparent;
        padding: 0 0;
    }
    .FS-logo{
        width:0;
        height: 0;
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 0%;
        margin-bottom: 0%;
    
        padding: 0;
    }
}


/* ------------------ Directory ----------------------*/

.cat-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(26, 1, 54);
    border: 1px solid rgb(26, 1, 54);
    background-color: white;
    font-size: 16px;
    padding: 12px 34px;
    margin: 2%;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    width: 20vh;
    height: 3vh;
    border-radius: 10px;
    font-weight: 600;
}

.top-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(26, 1, 54);
    border: 1px solid rgb(26, 1, 54);
    font-size: 16px;
    padding: 12px 34px;
    margin: 2%;
    background: transparent;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    width: 80%;
    height: 3vh;
}

.cat-btn:hover{
    color: #fff;
    background: rgb(26, 1, 54);
}

.FS-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(26, 1, 54);
    border: 1px solid rgb(26, 1, 54);
    font-size: 16px;
    padding: 12px 34px;
    margin: 0%;
    background: transparent;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    
}

.FS-btn:hover{
    color: #fff;
    background: rgb(26, 1, 54);
}

.directoryCategories{
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-top: 0%;
    text-align:center;
    background-color: rgb(1, 0, 65);


}

#directoryCategories .row{
    justify-content:space-evenly;
    text-align: center;
}

.categories-col{
    flex-basis: 10%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 0%;
    margin-top: 1%;
    box-sizing: border-box;
    transition: 0.25s;
    padding: 5px 5px;
}



.directoryGridContainer{
    width:80%;
    background-color:rgb(1, 0, 65);
    display: inline-block;
    margin-bottom:2%;
    margin-top:2%;
}

.directoryGrid{
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
}

.directoryBG{
    text-align: center;
    background-color: rgb(1, 0, 65);
}

.directory-category{
    width:80%;
    padding: 10px;
    display: inline-block;
    background-color: white;
}

.categoryH1{
    font-size: 40px;
    font-weight: 600;
    color: rgb(1, 0, 65);
    text-align: center;
    margin-top:4%;
}

.directoryH3{
    margin-bottom:0;
}

#directory-category .row{
    margin-top: 1%;
}

.directory-col-lnks{
    text-align: left;
    padding-right: 5px;
    width: 35%;
    overflow-wrap: anywhere;
}

.directory-col-abt {
    margin-right:1%;
    width: 50%;
}

.directory-col-abt p{
    text-align: justify;
    color:black
}

.directory-col-img{
    width: 20%;
    text-align:center;
}

.directory-col-img img{
    object-fit: cover; 
    width: 60%;
}

.warningBanner {
    background-color: rgb(143, 1, 1);
    color: white;
    text-align: left;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}

.warningBanner p{
    color: white;
    text-align: center;
}

.warningBanner_list {
    background-color: rgb(212, 212, 212);
    color: black;
    padding-left: 5px;
    overflow:hidden;
    height: 0px;
    transition: 0.5s;
}



.warningBanner-btn {

    display: inline-block;
    text-decoration: none;
    color: rgb(26, 1, 54);
    border: 1px solid rgb(26, 1, 54);
    background-color: white;
    font-size: 16px;
    padding: 12px 0;
    margin: 2%;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    width: 96%;
    align-self: center;
    height: 3vh;
    border-radius: 10px;
    font-weight: 600;
}


.warningBanner-btn:hover{
    color: #fff;
    background: rgb(26, 1, 54);
}

@media(max-width: 800px){
    .header-about{
        min-height: 20vh;
    }
    .directoryGrid{
        display: grid;
        width: 100%;
        grid-gap: 5px;
        grid-template-columns: repeat(3, auto);
        grid-auto-rows: 1fr;
        align-items: center;
        justify-items: center;
        position: relative;
        overflow-x: hidden;
    }
    .cat-btn{
        display: flex;
        justify-content:center;
        align-items: center;
        text-decoration: none;
        color: rgb(26, 1, 54);
        border: 1px solid rgb(26, 1, 54);
        background-color: white;
        font-size: 12px;
        padding: 6px 3px;
        margin: 1%;
        cursor: pointer;
        transition: 0.5s;
        width: 10vh;
        height: 8vh;
        border-radius: 10px
    }
    .top-btn{
        display: inline-block;
        text-decoration: none;
        color: rgb(26, 1, 54);
        border: 1px solid rgb(26, 1, 54);
        font-size: 12px;
        padding: 6px 17px;
        margin: 2%;
        background: transparent;
        position: relative;
        text-align: center;
        cursor: pointer;
        transition: 0.5s;
        /*width: 50%;*/
        height: 2vh;
    }
    .FS-btn{
        display: inline-block;
        text-decoration: none;
        color: rgb(26, 1, 54);
        border: 1px solid rgb(26, 1, 54);
        font-size: 12px;
        padding: 6px 17px;
        margin: 0%;
        background: transparent;
        position: relative;
        text-align: center;
        cursor: pointer;
        transition: 0.5s;
        align-self: center;
        margin: 0%

        
    }
    .directoryCategories{
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: rgb(1, 0, 65);
    
    
    }
    #directoryCategories .row{
        margin-top: 10%;
        padding-bottom: 10%;
    
    
    }

    .directory-col-lnks{
        text-align: left;
        padding-right: 0px;
        margin: 0%;
        padding-left: 8px;
        width: 95%;
    }
    
    .directory-col-abt {
        margin-right:1%;
        width: 100%;
    }
    
    .directory-col-abt p{
        text-align: justify;
        color:black
    }
    
    .directory-col-img{
        width: 0%;
        height: 0;
        text-align:center;
        overflow: hidden;
    }
    
    .directory-col-img img{
        object-fit: cover; 
        width: 60%;
    }

    .categoryH1{
        font-size:30px;
    }

}

@media(max-width: 1400px) and (min-width: 800px){
    .header-about{
    }
    .directoryGrid{
        display: grid;
        width: 100%;
        grid-gap: 5px;
        grid-template-columns: repeat(3, auto);
        grid-auto-rows: 1fr;
        align-items: center;
        justify-items: center;
        position: relative;
        overflow-x: hidden;
    }
    .cat-btn{
        display: flex;
        justify-content:center;
        align-items: center;
        text-decoration: none;
        color: rgb(26, 1, 54);
        border: 1px solid rgb(26, 1, 54);
        background-color: white;
        font-size: 12px;
        padding: 6px 3px;
        margin: 1%;
        cursor: pointer;
        transition: 0.5s;
        width: 20vh;
        border-radius: 10px
    }

}